// Grid settings
// -------------------------

$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;



// Brand colors
// -------------------------

$brand-primary:         #0090c5;
$blue:         #0090c5;
$darkgray: #353535;
$ghostgray: #f2f2f2;


// Glyphicons path
// -------------------------

$icon-font-path:        "../vendor/bootstrap-sass-official/assets/fonts/";
